---
import Layout from '../layouts/Layout.astro';
import SearchResultCard from "../components/SearchResultCard.astro";
import Logo from "../components/Logo.astro";
import SearchBar from "../components/SearchBar.astro";
import DetailsPane from "../components/DetailsPane.astro";
import SearchResultsPane from "../components/SearchResultsPane.astro";
import UIButton from "../components/UIButton.astro";
import DictPane from "../components/DictPane.astro";
---

<Layout>
    <div class="layout">
        <header>
            <Logo/>
            <div class="search-bar-row">
                <span class="search-bar-span"><SearchBar/></span>
                <span style="flex:1"></span>
                <span style="flex:5"></span>
            </div>
        </header>
        <DictPane/>
    </div>
</Layout>

<style>
    :root {
        --card-open: 4;
        --card-open-word: "";
        --card-margin: 1rem;
        --scroll-value: 0;
        --logo-height: 2.5rem;
        --logo-margins: 0.5rem;
    }


    .layout {
        display: flex;
        flex-direction: column;
    }

    .dict-pane {
    }

    .search-bar-row {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto; /* Don't grow/shrink */
        padding: 0.5rem;
        align-items: center;
    }

    .search-bar-span {
        flex: 4;
        max-width: -webkit-fill-available;
    }


    /* PORTRAIT ONLY */
    @media (orientation: portrait) {
        .search-bar-span {
            flex: var(--card-open);
            display: var(--card-open-word);
        }

        header {
            position: sticky;
            top: calc(-1 * var(--logo-height) - var(--logo-margins));
        }

        /* SCROLLING */
        html, body {
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .layout {
            margin-right: calc(0.25 * var(--card-margin));
            padding-right: calc(0.25 * var(--card-margin)); /*0.8*var(--card-margin) - */
            scrollbar-width: calc(0.5 * var(--card-margin)); /* Or height: 6px for horizontal */;
            scrollbar-gutter: stable;
        }

        .search-results-pane {
        }

        body::-webkit-scrollbar {
            width: calc(0.5 * var(--card-margin)); /* Or height: 6px for horizontal */
        }

        body::-webkit-scrollbar-track {
            background: transparent;
        }

        body::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.18);
            border-radius: 100px;
            border: 2px solid transparent; /* creates padding around the dot */
            background-clip: content-box;
        }
    }

    /* LANDSCAPE ONLY */
    @media (orientation: landscape) {
        .layout {
            height: 100dvh;
        }
    }
</style>
