---
import Layout from '../layouts/Layout.astro';
import SearchResultCard from "../components/SearchResultCard.astro";
import Logo from "../components/Logo.astro";
import SearchBar from "../components/SearchBar.astro";
import DetailsPane from "../components/DetailsPane.astro";
import SearchResultsPane from "../components/SearchResultsPane.astro";
import UIButton from "../components/UIButton.astro";
import DictPane from "../components/DictPane.astro";
---

<Layout>
    <div class="main-content">
        <Logo/>
        <div class="search-bar-row">
            <span class="search-bar-span"><SearchBar/></span>
            <span style="flex:1"></span>
            <span style="flex:5"></span>
        </div>
        <DictPane/>
    </div>
</Layout>

<style>
    :root {
        --card-open: 4;
        --card-open-word: "";
        --card-margin: 1rem;
    }

    html, body {
        height: 100dvh;
        overflow: hidden;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        height: inherit;
    }

    .search-bar-row {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto; /* Don't grow/shrink */
        padding: 0.5rem;
        align-items: center;
    }

    .search-bar-span {
        flex: 4;
        max-width: -webkit-fill-available;
    }


    /* PORTRAIT ONLY */
    @media (orientation: portrait) {
        .search-bar-span {
            flex: var(--card-open);
            display: var(--card-open-word);
        }
    }

</style>
