---
import Layout from '../layouts/Layout.astro';
import SearchResultCard from "../components/SearchResultCard.astro";
import Logo from "../components/Logo.astro";
import SearchBar from "../components/SearchBar.astro";
import DetailsPane from "../components/DetailsPane.astro";
import SearchResultsPane from "../components/SearchResultsPane.astro";
import UIButton from "../components/UIButton.astro";
---

<Layout>
    <div class="main-content">
        <Logo/>
        <div class="search-bar-row">
            <span class="search-bar-span"><SearchBar/></span>
            <span style="flex:1"></span>
            <span style="flex:5"></span>
        </div>
        <div class="dict-pane">
            <div class="search-results-pane">
                <SearchResultsPane/>
            </div>
            <div class="details-pane" style="flex:5">
                <DetailsPane/>
            </div>
        </div>
    </div>
</Layout>

<style>
    :root {
        --test: 4;
    }

    html, body {
        height: 100%;
        overflow: hidden;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .search-bar-row {
        display: flex;
        flex-direction: row;
        flex: 0 0 auto; /* Don't grow/shrink */
        padding: 0.5rem;
        align-items: center;
    }

    .search-bar-span {
        flex: 4;
        max-width: -webkit-fill-available;
    }

    .dict-pane {
        display: flex;
        flex-direction: row;
        flex: 1; /* Take up remaining space */
        overflow: hidden; /* Contain scrollable content */
    }

    .search-results-pane {
        display: flex;
        flex: 4;
        overflow-y: scroll;
        height: 100%; /* Take up full height of dict-pane */
        flex-direction: column;
    }

    .search-results-pane::-webkit-scrollbar {
        width: 0.75em; /* Or height: 6px for horizontal */
    }

    .search-results-pane::-webkit-scrollbar-track {
        background: transparent;
    }

    .search-results-pane::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.18);
        border-radius: 100px;
        border: 2px solid transparent; /* creates padding around the dot */
        background-clip: content-box;
    }


    .dict-pane > div:last-child {
        flex: 5;
        overflow: hidden; /* Prevents it from pushing size */
    }

    /* PORTRAIT ONLY */
    @media (orientation: portrait) {
        .details-pane {
            max-width: fit-content;
        }

        .search-results-pane {
            flex: var(--test);
            margin-right: calc(var(--test) * 0.5%);
        }

        .search-bar-span {
            flex: var(--test);
        }
    }

</style>
