---
import Speak from "./symbols/Speak.astro";
import Think from "./symbols/Think.astro";
const {tag} = Astro.props;

let Component, text, color;
switch (tag) {
    case "not-en":
        Component = Speak;
        text = "NotEN";
        color = "aqua";
        break;
    case "clipping":
        Component = Speak;
        text = "Clipping";
        color = "blue";
        break;
    case "nuance":
        Component = Think;
        text = "Nuance";
        color = "gold";
        break;
    case "wtf":
        Component = Speak;
        text = "WTF";
        color = "red";
        break;
    case "regional":
        Component = Speak;
        text = "Regional";
        color = "orange";
        break;
    case "pronunciation":
        text = "Pronunciation";
        Component = Speak;
        color = "purple";
        break;
    default:
        Component = Speak;
}
---
<span class="badge">
    <span class="inline-badge-icon" aria-label="comment"><Component/></span>
    <span class="badge-text">{text}</span>
</span>


<style define:vars={{color}}>
    .badge2 {
        display: inline-flex;
        padding: 0;
        margin: 0;
        border-radius: 4px;
        background-color: #141414;
    }

    .badge {
        display: inline-flex;
        padding: 0;
        margin: 1%;
        border-radius: 4px;
        font-size: 21px;
        line-height: 31.5px;
        font-weight: 500;
        text-align: center;
        border: 2.5px solid transparent; /*TODO */
        border-color: var(--color);
        color: var(--color);
        background-color: color-mix(in srgb, var(--color) 17.7%, transparent);
        vertical-align: middle;
        height: fit-content;
    }

    .inline-badge-icon {
        line-height: 31.5px;
        font-size: 21px;
        padding: 6.3px;
        display: flex;
    }

    .badge-text {
        display: inline-block;
        font-size: 0.8em;
        padding-right: 5px;
        padding-top: 2px;
    }

    .badge:hover {
        opacity: 0.8;
    }
</style>
