---
import Badge from "./Badge.astro";
const {tags} = Astro.props;
---


<div class="badges">
    {tags.map(tag => (
            <Badge tag={tag}/>
    ))}
</div>

<style>

    .badges {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: flex-end;
        margin-left: 0%;
    }
</style>