---
const {isClickable} = Astro.props;
const {class: className, ...rest} = Astro.props;
---


<div class:list={["card", {clickable: isClickable}, className]} {...rest}>
    <slot/>
</div>

<style>
    .card {
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 1rem; /* nice round corners */
        background-color: rgba(255, 255, 255, 0.18);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* soft shadow */
        padding: 1.5rem;
        margin: 1rem;
    }

    .clickable {
        transition: background-color 0.2s ease;
    }

    .clickable:hover {
        background-color: rgba(255, 255, 255, 0.25);
        cursor: pointer;
    }
</style>