---
import DetailsPane from "./DetailsPane.astro";
import SearchResultsPane from "./SearchResultsPane.astro";
---


<dict-pane class="dict-pane">
    <div class="search-results-pane">
        <SearchResultsPane/>
    </div>
    <div class="details-pane">
        <DetailsPane/>
    </div>
</dict-pane>

<style>
    .dict-pane {
        display: flex;
        flex-direction: row;
        flex: 1;
    }


    .search-results-pane {
        display: flex;
        flex: 4;
        height: 100%; /* Take up full height of dict-pane */
        flex-direction: column;
    }

    .details-pane {
        flex: 5
    }


        .search-results-pane > div:last-child {
            flex: 5;
            overflow: hidden;
        }

    /* LANDSCAPE ONLY */
    @media (orientation: landscape) {
        .dict-pane {
            overflow-x: hidden; /* Contain scrollable content */
        }

        .search-results-pane {
            overflow-y: scroll;
        }

        .search-results-pane::-webkit-scrollbar {
            width: 0.75em; /* Or height: 6px for horizontal */
        }

        .search-results-pane::-webkit-scrollbar-track {
            background: transparent;
        }

        .search-results-pane::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.18);
            border-radius: 100px;
            border: 2px solid transparent; /* creates padding around the dot */
            background-clip: content-box;
        }
    }


    /* PORTRAIT ONLY */
    @media (orientation: portrait) {
        .details-pane {
            max-width: fit-content;
        }

        .search-results-pane {
            flex: var(--card-open);
            display: var(--card-open-word);
        }


    }
</style>

<script>

    class DictPane extends HTMLElement {
        connectedCallback() {
            this.addEventListener("scroll", (e) => {
                console.log(this.scrollTop);
                document.documentElement.style.setProperty("--scroll-value", this.scrollTop);
            });
        }
    }

    customElements.define("dict-pane", DictPane);
</script>