---

---
<div class="logo">
    <h1>和製英語辞書！</h1>
</div>

<style>
    .logo {
        height: var(--logo-height);
        margin: var(--logo-margins);
    }

    h1 {
        margin: 0;
        color: floralwhite;
    }
</style>