---
import Batsu from "./symbols/Batsu.astro";
import Nijuumaru from "./symbols/Nijuumaru.astro";
import Maru from "./symbols/Maru.astro";
import Sankaku from "./symbols/Sankaku.astro";
import Badge from "./Badge.astro";
import Card from "./Card.astro";
const {} = Astro.props;
---
<Card>
    <h1 class="katakana"><b>キーホルダー</b></h1>
    <div class="info">
        <div class="english">
            <h2 class="origin">
                <Batsu/>
                key holder
            </h2>
            <h2 class="correct-general">
                <Nijuumaru/>
                keychain
            </h2>
        </div>
        <div class="badges">
            <Badge color="green">New</Badge>
            <Badge color="red">Hot</Badge>
            <Badge color="blue">Update</Badge>
        </div>
    </div>
</Card>

<style>
    h2 {
        margin: 0.5rem;
    }

    .katakana {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        color: floralwhite;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .english {
    }

    .origin {
        color: crimson;
    }

    .correct-general {
        color: limegreen;
    }

    .badges {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: flex-end;
        margin-left: 0%;
    }
</style>