---
import Badge from "./Badge.astro";
import Card from "./Card.astro";
import Term from "./Term.astro";
const {} = Astro.props;
---
<Card isClickable>
    <h1 class="katakana"><b>キーホルダー</b></h1>
    <div class="info">
        <div class="english">
            <Term evaluation="bad">
                key holder
            </Term>
            <Term evaluation="good">
                keychain
            </Term>
        </div>
        <div class="badges">
            <Badge color="green">New</Badge>
            <Badge color="red">Hot</Badge>
            <Badge color="blue">Update</Badge>
        </div>
    </div>
</Card>

<style>
    .katakana {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        color: floralwhite;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .badges {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: flex-end;
        margin-left: 0%;
    }
</style>