---
import Batsu from "./symbols/Batsu.astro";
import Sankaku from "./symbols/Sankaku.astro";
import Nijuumaru from "./symbols/Nijuumaru.astro";
import Maru from "./symbols/Maru.astro";
import {getFlagEmoji} from "../scripts/flagConversion";
const {evaluation, countries} = Astro.props;
const {class: className, ...rest} = Astro.props;
console.log(`countries: ${countries}`)
---

<!--TODO version without icon for details pane -->
<h2 class:list={["term", evaluation, className]} {...rest}>
    {
        evaluation == "bad" ?
                <Batsu/> : evaluation == "okay" ?
                        <Sankaku/> : evaluation == "good" ?
                                <Maru/> : evaluation == "best" ?
                                        <Nijuumaru/> :
                                        <></>
    }
    <slot/>
    {
        countries && countries.map(country => (<span class="flag">{getFlagEmoji(country)}</span>))
    }

</h2>

<style>
    @font-face {
        font-family: 'TwemojiCountryFlags';
        src: url("https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2") format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    .term {
        margin: 0.5rem;
    }

    .flag {
        font-family: "TwemojiCountryFlags", serif;
    }

    .bad {
        color: crimson;
    }

    .okay {
        color: orange;
    }

    .good, .best {
        color: limegreen;
    }

    .neutral {
        color: floralwhite;
    }
</style>